<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="core.testCases.TC_022HSIMModifyPage"/>
      <class name="core.testCases.TC002_HSIMHomePage"/>
      <class name="core.testCases.TC_021HSIMVerifyPage"/>
      <class name="core.testCases.TC001_LoginPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
