<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href=""?>
<Configuration status="TRACE">
    <Properties>
        <Property name="log-path">./logs</Property>
        <Property name="log-pattern">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Property>
    </Properties>
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${log-pattern}"/>
        </Console>

        <RollingFile name="File" fileName="${log-path}/core-logs.log"
                     filePattern="${log-path}/core-logs-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="${log-pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
     <Logger name="core.testCases" level="DEBUG" additivity="false">
        <AppenderRef ref="File"/>
    </Logger>
        <Root level="DEBUG">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
